# artifacts
__pycache__
pyvenv.cfg
.pytest*
pytestdebug.log
*.egg-info
*/build/*
*/dist/*
site/*


# misc
bin
lib
lib64
.cache
.coverage
.ruff_cache
.venv
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
coverage.xml
test_results/*

# Home Assistant configuration
venv/